body {
  margin: 0;
  background-color: #790969;
}
h1 {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  color: rgb(189, 184, 184);
}
#score {
  background-color: rgb(27, 27, 107);
  height: 50px;
  width: 100px;
  position: absolute;
  left: 300px;
  top: 300px;
}
.game {
  display: flex;
  flex-wrap: wrap;
  width: 310px;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
}
.block {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 60px;
  padding-top: 20px;
}
.block:hover {
  background-color: rgb(10, 10, 10);
}
button {
  padding: 10px;
  background-color: rgb(27, 27, 107);
  color: white;
  border: none;
  position: absolute;
  left: 300px;
  top: 400px;
}
button:hover {
  box-shadow: 0 1px 3px rgba(248, 245, 245, 0.06),
    0 2px 6px rgba(248, 240, 240, 0.06), 0 3px 8px rgba(247, 241, 241, 0.09);
}
#over{
  display: block;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  color: rgb(189, 184, 184);
}
.celebration img { 
  position: absolute;
  top: 200px;
  width: 500px;
  display: none;
}
#restart{
  width: 100px;
  height: 60px;
  background-color: black;
  border: 2px solid white;
  color: white;
  margin-top: 250px;
  margin-left: 220px;
  display: none;
}